global:
  domain: argocd.ioot.xyz

redis:
  image:
    repository: cr.yandex/mirror/library/redis

configs:
  cm:
    exec.enabled: true
    admin.enabled: false
    statusbadge.enabled: "true"
    dex.config: |
      connectors:
      - type: github
        id: github
        name: GitHub
        config:
          clientID: $dex.github.clientId
          clientSecret: $dex.github.clientSecret
  rbac:
    policy.csv: |
      # sub for amkartashov github account with id 7404372
      g, Cgc3NDA0MzcyEgZnaXRodWI, role:admin
    scopes: '[sub, groups, email]'

server:
  # https://argo-cd.readthedocs.io/en/stable/operator-manual/ingress/#ssl-passthrough-with-cert-manager-and-lets-encrypt
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      nginx.ingress.kubernetes.io/ssl-passthrough: "true"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    hosts:
      - argocd.ioot.xyz
    tls:
      - hosts:
          - argocd.ioot.xyz
        secretName: argocd-server-tls
